@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    @apply transition-all
}

body {
    @apply bg-neutral-900 text-neutral-300
}

div {
    scrollbar-width: none;
}
